


$img-height: 150px; //asi se declara una variable para css

  .img-item {
    height: $img-height;
    width: $img-height;
    min-height: $img-height;
    max-height: $img-height;
    min-width: $img-height;
    min-width: $img-height;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display:flex;
    justify-self: center;
  }

  .div-card {
    border-radius: 12px;
 
  }

  .p{
    border:1px;
    display: flex;
    //align-self: center;
  }