<footer class="py-8 py-md-11 bg-gray-200">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">

                <!-- Brand -->
                <p class="text-danger font-weight-bold">Mario World</p>

                <!-- Social -->
                <ul class="list-unstyled list-inline mb-6 mb-md-0">
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <img src="assets/social-icons/instagram.svg" class="list-social-icon" alt="...">
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <img src="assets/social-icons/facebook.svg" class="list-social-icon" alt="...">
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item mr-3">
                        <a href="#!" class="text-decoration-none">
                            <img src="assets/social-icons/twitter.svg" class="list-social-icon" alt="...">
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item">
                        <a href="#!" class="text-decoration-none">
                            <img src="assets/social-icons/github.svg" class="list-social-icon" alt="...">
                        </a>
                    </li>
                </ul>

            </div>
            
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>