<nav class="navbar navbar-expand-lg navbar-light bg-white">

    <!-- Brand -->
    
    <img src="/assets/title.png" height="50" />
    
    <!--
    <a class="navbar-brand" href="" [routerLink]="['/']">
        Mario World.
    </a>
    -->
    
    
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
        </button>

        <!-- Navigation -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" href="" [routerLink]="['/home']">Home </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" href="" [routerLink]="['/items']">Items </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" href="" [routerLink]="['/levels']">Levels</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" href="" [routerLink]="['/enemies']">Enemies </a>
            </li>

        </ul>

        <!-- Button -->
        <a class="navbar-btn btn btn-sm btn-primary lift ml-auto"
            href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
            Github
        </a>

    </div>


</nav>