.jumbotron-fluid {
   padding: 10px;
   border: 10px;
   border-radius: 8px; 
   height: 300 px;
    //width: 800px;
    
   
    }
   
   
    .box{
       display: flex;
       flex-direction: row;
       //justify-content: space-around;
    }
    

    my-4 {

      padding: 1px;
    }