.jumbotron-fluid {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: 393px;
    //width: 800px;
    border-radius: 8px;
   
    }
   
   
    .box{
       display: flex;
       flex-direction: row;
       //justify-content: space-around;
    }
    