<!-- landing section -->
<section class="lading-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6">
                <!-- Image -->
                <img src="assets/mario-bros.png" class="img-fluid landing-img" alt="landing-img">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1">
                <!-- Heading -->
                <h1 class="text-center text-md-left">
                    Welcome to the <span class="text-danger">Mario World</span> <br>
                    page.
                </h1>

                <!-- Text -->
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                    Lorem ipsum dolor sit amet,facilis magni recusandae
                    tenetur quos doloremque porro, consectetur ...
                </p>

                <!-- Buttons -->
                <div class="text-center text-md-left">
                    <a href="javascript:;" [routerLink]="['/home']" fragment="contentSection"
                        class="btn btn-primary mr-1">
                        View content
                    </a>
                    <a href="javascript:;" [routerLink]="['/home']" fragment="formSection"
                        class="btn btn-primary-soft lift">
                        Subscribe
                    </a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>